# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df=pd.read_csv('output_data/weather.txt')
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1927,168.8643,41.49,90,100,3.49,NZ,1626810709
1,1,Brae,60.3964,-1.3530,53.51,81,17,5.44,GB,1626810886
2,2,Yamada,39.4667,141.9500,73.17,91,42,3.00,JP,1626810886
3,3,Coquimbo,-29.9533,-71.3436,55.13,76,20,11.50,CL,1626810887
4,4,Shingū,33.7333,135.9833,73.90,92,38,6.60,JP,1626810887
...,...,...,...,...,...,...,...,...,...,...
595,595,Riyadh,24.6877,46.7219,98.74,18,100,5.50,SA,1626810976
596,596,Zhumadian,32.9794,114.0294,74.68,96,100,1.63,CN,1626811243
597,597,Stepnogorsk,52.3544,71.8869,62.76,72,5,7.47,KZ,1626811243
598,598,Lagoa,39.0500,-27.9833,68.52,88,2,22.68,PT,1626811245
599,599,Sept-Îles,50.2001,-66.3821,68.25,72,26,7.00,CA,1626811201

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = df[["Lat", "Lon"]]

# Fill NaN values and convert to float
weight = df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=True, max_intensity=100,
                                 )

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
df=df.dropna(how='any')
df=df.loc[df['Cloudiness']<20]
df=df.loc[df['Humidity']<20]
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
25,25,Saýat,38.7839,63.8803,87.67,18,4,10.33,TM,1626810894
89,89,Copiapó,-27.3667,-70.3333,55.09,18,0,5.03,CL,1626810921
117,117,San Juan,-31.5375,-68.5364,71.89,12,3,3.74,AR,1626810642
135,135,Bingöl,38.8847,40.4939,79.43,16,0,2.42,TR,1626810944
293,293,Barão de Melgaço,-16.1944,-55.9675,86.52,12,3,4.52,BR,1626811028
319,319,Hurghada,27.2574,33.8129,98.64,19,0,17.27,EG,1626810828
394,394,Şırnak,37.5228,42.4594,80.67,15,0,5.37,TR,1626811086
454,454,Sabha,27.0377,14.4283,89.64,15,0,9.62,LY,1626811126
490,490,Calama,-22.4667,-68.9333,75.69,5,5,17.27,CL,1626811151
593,593,Tabas,33.5959,56.9244,90.07,10,0,6.06,IR,1626811241

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df=df
hotel_df['Hotel Name']=''
hotel_df

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    lat=row['Lat']
    lon=row['Lon']
    params = {
    "location": f"{lat},{lon}",  # philadelphia coords
    "radius": 50000,
    "types": "hotel",
    "key": g_key,
    }
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, 'Hotel Name'] = name_address["results"][1]["name"]
        name=hotel_df.loc[index,'Hotel Name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [6]:
hotel_df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
25,25,Saýat,38.7839,63.8803,87.67,18,4,10.33,TM,1626810894,ГПЗ Саман-Депе
89,89,Copiapó,-27.3667,-70.3333,55.09,18,0,5.03,CL,1626810921,San Francisco de La Selva
117,117,San Juan,-31.5375,-68.5364,71.89,12,3,3.74,AR,1626810642,Hotel Provincial
135,135,Bingöl,38.8847,40.4939,79.43,16,0,2.42,TR,1626810944,Beko
293,293,Barão de Melgaço,-16.1944,-55.9675,86.52,12,3,4.52,BR,1626811028,Escola Estadual Antônio Paes de Barros
319,319,Hurghada,27.2574,33.8129,98.64,19,0,17.27,EG,1626810828,Albatros Palace Resort
394,394,Şırnak,37.5228,42.4594,80.67,15,0,5.37,TR,1626811086,Divan Otel Cizre / Şırnak
454,454,Sabha,27.0377,14.4283,89.64,15,0,9.62,LY,1626811126,Jabal Al-Hassawna Tourism Services Company
490,490,Calama,-22.4667,-68.9333,75.69,5,5,17.27,CL,1626811151,Diego De Almagro Calama
593,593,Tabas,33.5959,56.9244,90.07,10,0,6.06,IR,1626811241,کافی نت طبس آنلاین

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

# Create a marker_layer using the poverty list to fill the info box
markers = gmaps.marker_layer(locations,info_box_content=[hotel for hotel in hotel_info])

In [8]:
# Add marker layer ontop of heat map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))