# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
df=pd.read_csv('output_data/weather.txt')
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1927,168.8643,41.49,90,100,3.49,NZ,1626810709
1,1,Brae,60.3964,-1.3530,53.51,81,17,5.44,GB,1626810886
2,2,Yamada,39.4667,141.9500,73.17,91,42,3.00,JP,1626810886
3,3,Coquimbo,-29.9533,-71.3436,55.13,76,20,11.50,CL,1626810887
4,4,Shingū,33.7333,135.9833,73.90,92,38,6.60,JP,1626810887
...,...,...,...,...,...,...,...,...,...,...
595,595,Riyadh,24.6877,46.7219,98.74,18,100,5.50,SA,1626810976
596,596,Zhumadian,32.9794,114.0294,74.68,96,100,1.63,CN,1626811243
597,597,Stepnogorsk,52.3544,71.8869,62.76,72,5,7.47,KZ,1626811243
598,598,Lagoa,39.0500,-27.9833,68.52,88,2,22.68,PT,1626811245
599,599,Sept-Îles,50.2001,-66.3821,68.25,72,26,7.00,CA,1626811201

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)
locations = df[["Lat", "Lon"]]

# Fill NaN values and convert to float
weight = df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
df=df.dropna(how='any')
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mataura,-46.1927,168.8643,41.49,90,100,3.49,NZ,1626810709
1,1,Brae,60.3964,-1.3530,53.51,81,17,5.44,GB,1626810886
2,2,Yamada,39.4667,141.9500,73.17,91,42,3.00,JP,1626810886
3,3,Coquimbo,-29.9533,-71.3436,55.13,76,20,11.50,CL,1626810887
4,4,Shingū,33.7333,135.9833,73.90,92,38,6.60,JP,1626810887
...,...,...,...,...,...,...,...,...,...,...
595,595,Riyadh,24.6877,46.7219,98.74,18,100,5.50,SA,1626810976
596,596,Zhumadian,32.9794,114.0294,74.68,96,100,1.63,CN,1626811243
597,597,Stepnogorsk,52.3544,71.8869,62.76,72,5,7.47,KZ,1626811243
598,598,Lagoa,39.0500,-27.9833,68.52,88,2,22.68,PT,1626811245
599,599,Sept-Îles,50.2001,-66.3821,68.25,72,26,7.00,CA,1626811201

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df=df
hotel_df['Hotel Name']=''
hotel_df

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    lat=row['Lat']
    lon=row['Lon']
    params = {
    "location": f"{lat},{lon}",  # philadelphia coords
    "radius": 50000,
    "types": "hotel",
    "key": g_key,
    }
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, 'Hotel Name'] = name_address["results"][0]["name"]
        name=hotel_df.loc[index,'Hotel Name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
# Create a map using state centroid coordinates to set markers
marker_locations = hotel_df[['Lat', 'Lon']]

# Create a marker_layer using the poverty list to fill the info box
markers = gmaps.marker_layer(marker_locations,info_box_content=f"Hotel Name: {name}")
fig.add_layer(markers)
fig

<ipython-input-6-24481f57bc62>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name']=''
C:\Users\frank\anaconda\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Invercargill
Lerwick
Morioka
Coquimbo
Shingu
Guerrero Negro
Banda Aceh
Ushuaia
Winton
Corpus Christi
Barnstaple
Chokurdakh
Port Louis
Invercargill
Carnarvon
Saint Petersburg
Cape Town
Tórshavn
Kapaʻa
Albany
Datong
Praia
Port Louis
Uturoa
Gävle
Turkmenabat
Provideniya
Mwinilunga
Qaqortoq
Bataraza
Chiclayo
Dunedin
Curanilahue
Hobart
Esperance
Puerto Ayora
Cape Town
Bunbury
Porto
Namatanai
Coos Bay
Saskylakh
Dikson
Potsdam
Port Macquarie
Nuku'alofa
Gqeberha
Saint-Paul
Kaitaia
Ilulissat
Tuktoyaktuk
Batsfjord
Singkawang
Isangel
Hobart
Nova Viçosa
Angra do Heroísmo
Horta
Trujillo
Verkhoyansk
Thompson
Jamestown
Niaqornaarsuk
Norilsk
Cayenne
Santa Vitoria do Palmar
Trelew
Kamisu
Denpasar
Oulu
George Town
East London
Baruun-Urt
Betul
Cincinnati
Bandarbeyla
Avarua District
Hilo
Tres Arroyos
Boa Vista
Ukiangang
Sosnovo
Punta Arenas
Akhtubinsk
Port-Gentil
Broken Hill
Vestmannaeyjar
Tabou
Copiapó
Mapiripán
Derzhavinsk
Rikitea
Bredasdorp
Leningradsky
Te Anau
Bengkulu
Ponta Grossa
Dunedin
Viedma
Mar del Plata
Tiksi
Ulaangom
Atuona
Uturoa
Saint-Paul
Moshi
San Estanislao
Bilibino
Iquique
Bolzano
Tasiilaq
Seymchan
Numazu
Rovaniemi
Alotau
Pape'ete
San Juan
Wete
Andenes
Bitola
Addu City
Adelaide
Jixi
Atasu
Imeni Poliny Osipenko
Athabasca
Osmaniye
Nome
Nur-Sultan
Petropavlovsk-Kamchatskiy
Geraldton
Košice
Tramandaí
Chim
Bingöl
Koumac
Cabo San Lucas
Port Louis
Moscow
Misrata
Healdsburg
Swift Current
Dirj
Pangnirtung
Quelimane
Iloilo City
Mount Gambier
Chersky
Amga
Langepas
Katol
Toora-Khem
Beringovskii
Ancud
Taksimo
Şereflikoçhisar
Mobile
Caucaia
Lushoto
Chincha Alta
Las Vegas
Manokwari
Lázaro Cárdenas
Araioses
Novobiriusinskii
İskenderun
Junagadh
Flin Flon
Utqiagvik
Minneapolis
Puerto Gaitán
Bacău
Santa Maria
Chernyshevsky
Villahermosa
Ponta Delgada
Piura
Xalapa
Karratha
Brest
Kismayo
Key West
Yellowknife
Sitia
Funchal
Iqaluit
Wete
Aikhal
Kodiak
Viveiro
Indianapolis
Campos
Arvika
Makhanda
Tallinn
Fergana
Kaewieng
Doume
Å
Fairbanks
Svetlaya
Havre-Saint-Pierre
Pathein
Balkanabat
Kununurra
Tangshan
Bruges
Verkhneviliuisk
Warrnambool
A.h Pueblo Nuevo Acari
Mpanda
Hong Kong
Wendover
Arraial do Cabo
Cairns
Reykjavík
Peshawar
Oeiras
Tuban
Teppi
Kourou
Santiago de Compostela
Gamba
Saint-Augustin
Vigo
Chesma
Hirara
Oriximiná
Catamarca
Dili
Angra dos Reis
Kahului
Gqeberha
Maxixe
Puerto Vallarta
Kita
Marseille
Vyatskiye Polyany
Logroño
Moosonee
Gustavia
Malakal
Kalifornsky
Luoyang
Benguela
Kars
Carazinho
Velidhoo
Sassandra
Dehradun
Belle Anse
Tepic
Masasi
San Diego
Sola
Ahvaz
Dolo
Hudson Bay
Ngama
Fort Nelson
Portland
Perth
Klaipėda
Mogadishu
George
Itaueira
Kanash
Voivozh
Dehradun
Santa Clara
Santa Cruz de la Sierra
Rio Grande
Salisbury
Iquitos
Bonthe
Sortavala
San Cristobal
New Haven
Araouane
Kolhufushi
Honolulu
Belaya Gora
Almetyevsk
Höfn
Port Blair
Wajir
Uturoa
Honolulu
Lorengau
Grand Forks
Namibe
Santo Antônio do Leverger
Sacramento
Monstrance
Kapan
Tapachula
Worcester
Sitka
Umeå
Novotroitsk
Ciudad Bolívar
Zhangjiakou
Chatanga
Puerto Leguízamo
Idaho Falls
Måløy
Yanbian Korean Autonomous Prefecture
Paris
Deder
General Lázaro Cárdenas
Chumikan
Kemerovo
Itapipoca
Lubbock
Port Louis
Gizo
Bemidji
Hurghada
Dhigurah
Jimeta
Amami
Cagayan de Oro
Shagonar
Prescott
Severo-Kurilsk
Redmond
Eureka
Chegdomyn
Basse-Terre
Gothenburg
Esil
Kirov
Kimitsu
Mosta
Longyearbyen
Idaho Falls
Murmansk
Idaho Falls
Tanga
Murray
Lugo
Luwuk
Tangalle
Eureka
Jacareacanga
Vostok
Málaga
Najran
Antwerp
Okha
Parana
Muezerskii
Roanne
Ngaoundere
Lomé
Newcastle
Egvekinot
Constitución
Tangainony
Mahalapye
Kemalpaşa
Macaúbas
Albuquerque
Wollongong
Buzdyak
Norman Wells
Surovikino
Ili
Vanderhoof
Kendari
West Plains
Dera Ismail Khan
Pevek
Nazyvaevsk
Motueka
Clyde River
Ceará-Mirim
Sisimiut
Tuguegarao City
Skopin
Ak-Dovurak
Qaanaaq
St. John's
Coimbra
Yogyakarta
Kautokeino
Naha
Juiz de Fora
Vardo
Lipetsk
Srednekolymsk
Aasiaat
Cizre
St. George
Hammerfest
Scarborough
Vladikavkaz
Briançon
Nikolskiy
Bandar Bushehr
Nanortalik
Awjilah
Kolding
Atbasar
Qaqortoq
Adamantina
Godofredo Viana
Garissa
Matamoros
Karatau
Bulawayo
Cabinda
Dolores
Padang
Upernavik
Arsenyev
Fort Smith
Blumenau
Marsh Harbour
Khovd
Porlamar
Jinan
Tartagal
Benghazi
Tarakan
Saldanha
Tura
Acapulco
Kulunda
Saint John
Fairbanks
Port Hardy
Ouadda
Sao Filipe
Margherita
Coyhaique
Biltine
Tiznit
Tatarsk
Zernograd
Tromsø
Centro
Dublin
Rathafandhoo
San Carlos
Porto-Novo
Kafanchan
Tofino
Saurimo
Mecca
Soe
Bamenda
Sabhā
Novaya Chara
Ashgabat
Arohane
San Felipe
Onnebetsumura
Mount Darwin
Katherine
Margate
Jazan
Santa Isabel do Rio Negro
Turukhansk
Leer
Eyl
Sui
Kawambwa
Sol-Iletsk
Buchanan
Cajamarca
Hukuntsi
Jijoca de Jericoacoara
Baker City
Zhigansk
Nador
Port Louis
Turaif
Xai-Xai District
João Pessoa
Vanavara
Columbus
Minamiboso
Utica
Port Louis
Atakpame
Kyenjojo
Odda
Calama
Sibolga
Belogorsk
Coronel Oviedo
Inuvik
Zyryanka
Kashgar Prefecture
Barnstable
Severo-Yeniseyskiy
Swan River
Las Cruces
Ufa
Belém
Maceió
Hwange
Hengyang
Moruya
Dimbokro
Gamvik
Bijie
Kargasok
Talaya
Takoradi
Alofi
Trincomalee
Maun
San Alberto
Kavaratti
Rijeka
Ichinoseki
Balashov
Summerside
Port Louis
Talara
A Coruña
Ayan
Honolulu
Wuhu
Igueben
Indi
Virginia Beach
Antofagasta
Ajdabiya
Innisfail
San Luis Obispo
Taoudenni
Brisbane
Brønnøysund
Koror
Catanzaro
Mai Ngam
Nagano
Ponta Delgada
Modasa
Mitchell
Ostrovnoy
Beausejour
Niono
Bairiki
Al Hudaydah
Patna
Goto
Kalamata
Hami
New Plymouth
Vila Velha
Jacksonville
Ronne
Kyzyl
Xilingol League
Igboho
Heraklion
Hakodate
Kiruna
Bakersfield
Umluj
Sibu
Canutama
Steinkjer
Bridgetown
San Luis
Obor
Mbaïki
Lerwick
Seattle
Tongliao
Nimule
Okha
Toteng
Banda Aceh
Knysna
Fayetteville
Mohyliv-Podil's'kyi
Ambilobe
Ilo District
Sumenep
Nouadhibou
Sorong
Busan
Stavanger
Lismore
Ketchikan
Tabas
Bataraza
Riyadh
Zhumadian
Stepnogorsk
Velas
Sept-Iles

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: "['Lng'] not in index"

In [ ]:
# Add marker layer ontop of heat map


# Display figure